
/*============================*/
/* BASIC SETUP */
/*============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
    color: lightgray;
}

/*============================*/
/* REUSABLE COMPONENTS */
/*============================*/

/*============================*/
/* UPPER HEADER */
/*============================*/
#upper-header-wrapper{
    border-bottom: 1px solid lightgray;
}
.upper-header .brand-logo{
    width: 100px;
}
.upper-header .category-btn{
    border-right: none;
    border-color: #ddd;
    background: url(../img/select-border.png) no-repeat right center;
    background-size: auto 70%;
    border-bottom: 2px solid #f90;
}
.upper-header .search-chevron{
    color: darkgrey;
    font-size: 14px;
}
.search-input{
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #f90;
    box-sizing: content-box;
    height: 30px;
}
.upper-header .search-btn{
    border: none;
    background: #0397d3;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
}
.upper-header .upper-header-right{
    display: flex;
    justify-content: flex-end;
}

/*============================*/
/* NAVBAR */
/*============================*/
navbar.bg-custom{
    background: white;
}
.nav-chevron{
    color: gray;
    font-size: 14px;
}
#main-nav .navbar .dropdown-menu{
    background-color: white !important;
}
#main-nav .nav-item .nav-link{
    color: black;
}
#main-nav .nav-item .nav-link:hover {
    color: #2874f0 !important;
}
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/*============================*/
/* BANNER */
/*============================*/
#banner-wrapper{
    background: linear-gradient(to right, #15054F, #3E0762);
    padding: 40px 0;
}
.banner .ready-text{
    font-size: 20px;
    text-decoration: none;
}
.banner h1{
    font-size: 67px;
    color: white;
}
.banner .banner-btn{
    padding: 10px 60px;
    color: white;
    background: #ff1948;
}

/*============================*/
/* ABOUT US */
/*============================*/
#aboutus{
    padding: 100px 0;
}
.card-wrapper{
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 5px 0 #ddd;
}
.card-img-wrapper{
    background: linear-gradient(to top, #3E12D4, #9504E1);
    padding: 20px;
    border-radius: 50%;
    width: 30%;
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-wrapper img{
    width: 80%;
}
.card-wrapper h5{
    margin-top: 15px;
    margin-bottom: 0;
}

/*============================*/
/* ONLINE COURSE */
/*============================*/
#courses{
    background: #F2F9FF;
    padding: 80px 0;
}
#courses h2{
    margin-bottom: 150px;
}
.course-card .client-img-btn{
    transform: translateY(-50%);
}
.course-card{
    background: white;
    padding-bottom: 15px;
    border-radius: 10px;
}
.course-card .course-card-content{
    padding: 0 20px;
}
.free-btn{
    color: white;
    background: linear-gradient(to right, #3E12D4, #9504E1);
    padding: 5px 30px;
}
.buy-btn{
    background: #FF1948;
    color: white;
    padding: 7px 30px;
}
.course-card-content hr{
    margin-top: 25px;
}
#courses .all-course-btn{
    color: #FF1948;
    padding: 10px 40px;
    border: 2px solid #FF1948;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left, white 50%, #FF1948 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease;
}
#courses .all-course-btn:hover{
    background-position: left bottom;
    color: white;
}

/*============================*/
/* TESTIMONIAL */
/*============================*/
.content {
  margin-top: 20px;
}

.adjust1 {
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.adjust2 {
  margin: 0;
}

.carousel-indicators {
  margin-bottom: -20px;
}

.carousel-indicators li {
  border: 1px solid #ccc;
}

.carousel-indicators .active {
  background: #31708f;
}

.carousel-control {
  color: #31708f;
  width: 5%;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #31708f;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.media-object {
  margin: auto;
  margin-top: 15%;
}

@media screen and (max-width: 768px) {
  .media-object {
    margin-top: 0;
  }
}

/*Footer*/
footer{
    position: relative;
}
.upper-svg{
    position: absolute;
    left: 0;
}
.newsletter{
    border-radius: 10px;
    height: 100px;
    position: absolute;
    top: 50%;
    background: tomato;
    width: 70%;
}
.newsletter h5{
    padding: 20px;
}

