
/*============================*/
/* BASIC SETUP */
/*============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover{
    text-decoration: none;
    color: lightgray;
}

/*============================*/
/* REUSABLE COMPONENTS */
/*============================*/
.btn-main{
    background: #ff1948;
    color: #fff;
}

/*============================*/
/* UPPER HEADER */
/*============================*/
#upper-header-wrapper{
    border-bottom: 1px solid lightgray;
}
.upper-header .brand-logo{
    width: 100px;
}
.upper-header .category-btn{
    border-right: none;
    border-color: #ddd;
    background: url(../img/select-border.png) no-repeat right center;
    background-size: auto 70%;
    border-bottom: 2px solid #f90;
}
.upper-header .search-chevron{
    color: darkgrey;
    font-size: 14px;
}
.search-input{
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #f90;
    box-sizing: content-box;
    height: 30px;
}
.upper-header .search-btn{
    border: none;
    background: #0397d3;
    font-size: 20px;
    color: #fff;
    padding: 0 20px;
}
.upper-header .upper-header-right{
    display: flex;
    justify-content: flex-end;
}

/*============================*/
/* NAVBAR */
/*============================*/
navbar.bg-custom{
    background: white;
}
.nav-chevron{
    color: gray;
    font-size: 14px;
}
#main-nav .navbar .dropdown-menu{
    background-color: white !important;
}
#main-nav .nav-item .nav-link{
    color: black;
}
#main-nav .nav-item .nav-link:hover {
    color: #2874f0 !important;
}
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/*============================*/
/* BANNER */
/*============================*/
#banner-wrapper{
    background: linear-gradient(to right, #15054F, #3E0762);
    padding: 40px 0;
}
.banner .ready-text{
    font-size: 20px;
    text-decoration: none;
}
.banner h1{
    font-size: 67px;
    color: white;
}
.banner .banner-btn{
    padding: 10px 60px;
    color: white;
    background: #ff1948;
}

/*============================*/
/* ABOUT US */
/*============================*/
#aboutus{
    padding: 100px 0;
    position: relative;
}
#aboutus::after{
    content: "";
    background: url(../img/dot-bg.png) no-repeat right bottom;
    width: 100%;
    position: absolute;
    top: 55%;
    z-index: -1;
    height: 250px;
}
.card-wrapper{
    text-align: center;
    padding: 20px;
    background: #fff;
    z-index: 1000;
    box-shadow: 3px 3px 5px 0 #ddd;
}
.card-img-wrapper{
    background: linear-gradient(to top, #3E12D4, #9504E1);
    padding: 20px;
    border-radius: 50%;
    width: 30%;
    margin: auto;
    text-align: center;
    box-sizing: content-box;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-wrapper img{
    width: 80%;
}
.card-wrapper h5{
    margin-top: 15px;
    margin-bottom: 0;
}

/*============================*/
/* ONLINE COURSE */
/*============================*/
#courses{
    background: linear-gradient(#F2F9FF, #F2F9FF);
    padding: 80px 0;
    z-index: -5;
    position: relative;
}
#courses::after{
    content: "";
    background: url(../img/dot-bg.png) no-repeat left bottom;
    width: 100%;
    position: absolute;
    top: 85%;
    display: block;
    height: 250px;
}
#courses h2{
    margin-bottom: 150px;
}
.course-card .client-img-btn{
    transform: translateY(-50%);
}
.course-card{
    background: white;
    padding-bottom: 15px;
    border-radius: 10px;
}
.course-card .course-card-content{
    padding: 0 20px;
}
.free-btn{
    color: white;
    background: linear-gradient(to right, #3E12D4, #9504E1);
    padding: 5px 30px;
}
.buy-btn{
    background: #FF1948;
    color: white;
    padding: 7px 30px;
}
.course-card-content hr{
    margin-top: 25px;
}
#courses .all-course-btn{
    color: #FF1948;
    padding: 10px 40px;
    border: 2px solid #FF1948;
    margin-top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left, white 50%, #FF1948 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease;
}
#courses .all-course-btn:hover{
    background-position: left bottom;
    color: white;
}

/*============================*/
/* TESTIMONIAL */
/*============================*/
.testimonial-heading{
    margin-top: 80px;
}
.testimonial_content p {
    position: relative;
}

.testimonial_content p::after {
    position: absolute;
    content: '';
    background: url(../img/testimonial_quote_icon.png) no-repeat;
    left: -50px;
    top:0;
    width: 50px;
    height: 50px;
}
.testimonial_content p::before {
    position: absolute;
    content: '';
    background: url(../img/testimonial_quote_icon.png) no-repeat;
    right: -15px;
    bottom:-10px;
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
}
.testimonial_content {
    padding: 20px;
}
.star ul li {
    list-style: none;
}

.star ul {
    display: flex;
}

/*============================*/
/* Footer */
/*============================*/
.upper-svg{
    position: absolute;
    left: 0;
}
.footer_content{
    background: linear-gradient(rgba(40, 47, 149, 0.9), rgba(40, 47, 149, 0.9)), linear-gradient(rgb(218, 217, 227), rgb(218, 217, 227));
    padding-bottom: 6%;
}
.subscribe_section {
    background: #fff;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    position: relative;
    margin-top: -15%;
}
.subscribe-btn {
    border: none;
    font-size: 14px;
    padding: 0 20px;
}
.subscribe_form {
    display: flex;
    justify-content: space-between;
}

.subscribe_form input{
    background: #e5e5ed;
}

.subscribe_form input::placeholder{
    color: black;
    font-size: 12px;
}

.subscribe_heading h3 {
    font-size: 30px;
    color: #0c00d1;
    font-weight: 700;
}

.subscribe_heading p {
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 500;
}
.footer_bottom_section {
    color: #fff;
    margin-top: 10%;
}
.subscribe_form {
    display: flex;
    justify-content: space-between;
}
.copyright{
    font-size: 14px;
}
.footerItem {
    color:#cccccc;
}
.singleFooter h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15%;
}

.singleFooter ul {
    margin: 0;
    padding: 0;
}

.singleFooter ul li {
    list-style: none;
    margin-bottom: 4%;
}

.singleFooter ul li a {
    color: #cccccc;
    font-size: 14px;
}